* {
  font-family: 'Bebas Neue';
}

@tailwind base;

@tailwind components;

@tailwind utilities;

.section-title {
  padding: 10px;
}

.subtitle {
  text-align: center;
}

/*IMAGE GALLERY*/
.portfolioContainer-all {
  margin: 20px auto;
  height: auto;
}
.portfolioContainer {
  width: calc(33% - 6px);
  overflow: hidden;
  height: fit-content;
  margin: 3px;
  padding: 0;
  display: block;
  position: relative;
}
img {
  width: 100%;
  transition-duration: 0.3s;
  max-width: 100%;
  display: block;
  overflow: hidden;
  cursor: pointer;
}

.portfolioContainer:hover img {
  transform: scale(1.2);
  transition-duration: 0.3s;
  filter: grayscale(50%);
  opacity: 0.7;
}
.portfolioContainer:hover span {
  color: white;
  display: block;
  transition-duration: 0.3s;
}
@media (min-width: 700px) {
  .hero-bg {
    background-image: url('../images/portfolio/comida/16.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
  }

  .title {
    font-size: 35px;
    font-weight: 300;
    text-align: center;
  }
}
@media only screen and (max-width: 414px) {
  .hero-bg {
    background-image: url('../images/portfolio/modelo/3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
  }
  .title {
    font-size: 25px;
    font-weight: 300;
    text-align: center;
  }
}
